<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/index.css">
</head>

<body>
  <div class="bigbox">
    <!-- 头部 -->
    <div class="header">
      <div class="h_orange">
        <p>个人简历</p>
      </div>
    </div>
    <!-- 内容区域 -->
    <div class="main">
      <!-- 左侧内容 个人信息 -->
      <div class="left">
        <img src="../img/y.png" alt="证件照">
        <span>阮丹宁</span>
        <ul>
          <li>22岁</li>
          <li class="spacer"></li>
          <li>应届生</li>
          <li class="spacer"></li>
          <li>18045956264</li>
          <li class="spacer"></li>
          <li>2891532488@qq.com</li>
          <li class="spacer"></li>
        </ul>
      </div>
      <!-- 右侧内容 -->
      <div class="right">
        <!-- 求职意向 -->
        <div class="title">
          <span></span>
          <p>求职意向</p>
        </div>
        <ul>
          <li>实习</li>
          <li>前端开发</li>
          <li>随时到岗</li>
        </ul>
        <!-- 教育背景 -->
        <div class="title">
          <span></span>
          <p>教育背景</p>
        </div>
        <ul class="statudy">
          <li>2020.9-2024.1</li>
          <li>哈尔滨剑桥学院</li>
          <li>计算机科学与技术</li>
        </ul>
        <div class="content">
          <p>主要课程:JavaWeb程序设计、网页设计、U1界面设计、数据库原理、python</p>
          <p>自学课程:Typescript、Flutter</p>
        </div>
        <!-- 专业技能 -->
        <div class="title">
          <span></span>
          <p>专业技能</p>
        </div>
        <div class="skill">
          <p>熟练掌握DN+CSS基本布局及HTML5+CS53新特性，根据设计稿完成页面制作</p>
          <p>熟悉使用less前端预处理语言，提高编写css效率</p>
          <p>熟练使用BootStrap前端框架搭建响应式网站，熟悉 fex布局进行移动端开发</p>
          <p>熟悉目前主流框架Vue2、Wue3、React以及vite</p>
          <p>熟练掌握javascript语言、JQuery框架，掌握ES6规范,DOM、BOM操作、原型链、闭包结构原理</p>
          <p>了解nodej5，有使用过Express搭建测试的服务器</p>
          <p>了解Typescript前端技术，能实现网页特效和用户交互体验</p>
        </div>
        <!-- 工作经验 -->
        <div class="title">
          <span></span>
          <p>工作经验</p>
        </div>
        <ul class="statudy">
          <li>2023.9-2024.1</li>
          <li>哈尔滨巨耀网络科技</li>
          <li>web前端开发实习生</li>
        </ul>
        <div>
          <p>工作内容:</p>
          <ul>
            <li>配合U进行PCweb产品研发，精确还原设计图纸
            <li>与后端，实现业务逻相完成页面洁染</li>
            <li> 配合后端工程师完成数据接口的开发与测试</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>